.roles.card-body,
.permission.card-body {
    background: #43c6ac; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #f8ffae,
        #43c6ac
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #f8ffae,
        #43c6ac
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
