// Sidebar

/*******************
Main sidebar
******************/
.right-sidebare {
    position: fixed;
    width: 275px;
    height: 100vh;
    right: 0;
    top: 66px;
    background-color: #fff;
    z-index: 51;
    transition: 0.5s;
    padding: 5px;
    background: #e7f5ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #1864ab,
        #e7f5ff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #1864ab,
        #e7f5ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    > .card {
        margin-bottom: 3px;
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.6);
        &.profile {
            display: flex;
            align-items: center;
        }
        > .chage-sidebar-color {
            display: flex;
            justify-content: center;
            > .color {
                width: 50px;
                height: 50px;
                margin: 10px;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }
    &.is-closed {
        transform: translateX(19em);
    }
}

.sidebar-toggle {
    position: fixed;
    cursor: pointer;
    top: 20px;
    right: 270px;
    z-index: 51;
    border: 4px solid #fff;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #edf1f5;
    transform: rotate(45deg);
    transition: 0.7s;

    &.is-closed {
        transform: rotate(0deg);
    }
}
